<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Keskustelu</title>
    </head>
    <body>
       
       
        <ul>
            <li th:each="keskustelu: ${keskustelu}">   
                <span th:text="${keskustelu.keskustelu}">keskustelu</span>
                <a th:href="@{~/aiheet/{aihe}(aihe=${aihe.aihe})" 
                 th:text="${keskustelu.keskustelu}">Keskustelu esimerkki</a>
                
            </li>
        </ul>
        
            <form method="POST">
            <input type="text" name="keskustelu"/>
            <input type="submit" value="uusi keskustelu!"/>
        </form>

    </body>
</html>


