<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Keskustelu</title>
    </head>
    <body>
        <h1 th:text="${aihe}">testi</h1>
       
       <!-- <ul style="list-style-type:none;">
            <li th:each="x: ${keskustelut}">   
                
                <a th:href="@{~/keskustelut/{keskustelu}(keskustelu=${x.keskustelu})}"
                   th:text="${x.keskustelu}">keskustelu</a>
            </li>
            
            <li th:each="y: ${lkm}">   
                <span th:text="${y}">lkm</span>
              
            </li>
        </ul> -->
       
          <table>
       <tr>  
            <th align="left" width="400">keskustelu</th>   
            <th align="left" width="200" >viestejä</th> 
            <th>viimeisin</th> 
        </tr>
   </table>
   
   <table  th:each="x: ${keskustelut}" >
   
                
        <tr> 
            <td width="400">
                <div style="height:100%;width:100%">
                    <a th:href="@{~/keskustelut/{keskustelu}(keskustelu=${x.keskustelu})}"
                       th:text="${x.keskustelu}">keskustelu</a>
                </div>
            </td>
            
             <td th:text="${x.yhteensa}">luku</td>
            
        </tr>

    </table>
        
            <form method="POST">
            <input type="text" name="keskustelu"/>
            <input type="submit" value="uusi keskustelu!"/>
        </form>

    </body>
</html>

