<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Otsikko</title>
    </head>
    <body>
        <h1>aiheenKeskustelut</h1>
        <h2 th:text="${aihe}">testi</h2>
        <ul>
            <li th:each="keskustelu: ${keskustelu}">   
                <a th:href="@{~/{aihe}/{keskustelu}(aihe=${aihe.aihe_id})(keskustelu=${keskustelu.keskustelutunnus})}" 
                 th:text="${keskustelu.keskustelu}">Keskustelu esimerkki</a>
            </li>
        </ul>
        
            <form method="POST">
            <input type="text" name="nimi"/>
            <input type="submit" value="lisää!"/>
        </form>

    </body>
</html>


