<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>KPW</title>
    </head>
    <body bgcolor="#FDF5E6">
        <h1>Keskustelupalsta</h1>
        <h2 th:text="${teksti}">testi</h2>
        
    
       <table>
       <tr>  
            <th align="left" width="400">aihe</th>   
            <th align="left" width="400" >viestejä</th>
            <th>viimeisin</th>
        </tr>
   </table>
   
   <table  th:each="aihe: ${aiheet}" >
   
                
        <tr> 
            <td width="400">
                <div style="height:100%;width:100%">
                    <a th:href="@{~/aiheet/{id}(id=${aihe.aihe})}"                   
                       th:text="${aihe.aihe}">nimi</a>
                </div>
            </td>
            <td width="400" th:text="${aihe.yhteensa}">luku</td>
             <td th:text="${aihe.uusin}">luku</td>
        </tr>

    </table>
   <hr></hr>
    <p> </p>
    <p> </p>    

       
        
          <form method="POST">
            <input type="text" name="nimi"/>
            <input type="submit" value="lisää!"/>
        </form>

    </body>
</html>


