<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Otsikko</title>
    </head>
    <body>
        <h1>Keskustelupalsta</h1>
        <h2 th:text="${teksti}">testi</h2>
        
        <ul style="list-style-type:none;">
            
            <li th:each="aihe: ${aiheet}">
                <a th:href="@{~/aiheet/{id}(id=${aihe.aihe})}" 
                 th:text="${aihe.aihe}">nimi</a>
                <a th:text="${aihe.yhteensa}">luku</a>
            </li>
            
        </ul>
        
          <form method="POST">
            <input type="text" name="nimi"/>
            <input type="submit" value="lisää!"/>
        </form>

    </body>
</html>


