<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Keskustelu</title>
    </head>
    <body bgcolor="#FDF5E6">
        
        
        <ul>
            <li th:each="keskustelu: ${keskustelu}">   
                 <span th:text="${keskustelu.keskustelu}">keskustelu</span>
            </li>
        </ul>

       <form method="POST">
            <input type="text" name="tehtava"/>
            <input type="submit" value="lisää!"/>
        </form>

    </body>
</html>
