<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title> Keskustelu</title>
    </head>
    <body bgcolor="#FDF5E6">
        <a th:href="@{~/aiheet}" >Etusivulle</a>
        <h1 th:text="${keskustelu}">testi</h1>
       
        <ul style="list-style-type:decimal;">
            
            <li th:each="x: ${viestit}">   
                <span th:text="${x.viesti}">viesti</span> &nbsp;&nbsp; 
                <a style="color: #808080"> t. </a>
                <a style="color: #808080"><span th:text="${x.nimimerkki}">nimi</span></a>
                
                
                <h1></h1>
                
            </li>      
        </ul>
        
            <form method="POST">
            Nimimerkki:<br/>
            <input type="text" name="nimimerkki"/><br/>
                <p> </p> 
            Viesti:<br/>
            <textarea name="viesti" rows="10" cols="60"/><br/>
            <input type="submit" value="lähetä viesti!"/>
        </form>

    </body>
</html>


